// Posicionamiento
// Display
// Modelo Caja
// Colores
// Tipografia
// Visuales
// Otros

$primary: #168376;
$primary-darker: #12665C;
$secondary: #236899;
$base-darker: #2D3047;
$accent: #FB764C;
$accent-alternative: #FFFD82;
$danger: #E84855;
$neutral-dark: #2D3047;
$neutral-darkest: #222626;
$neutral-bright: #BFBFBF;
$neutral-brighter: #F3F3F3;
$neutral-brightest: #EFF5F8;
$FWregular: 400;
$FWmedium: 500;
$FWbold: 700;